@font-face {
  font-family: "norsebold";
  src:
    url(fonts/Norsebold.woff2),
    url(fonts/Norsebold.woff);
}

:root {
  --create-button-color: #596D48;
  --default-input-field-border-color: #E5E7EB;
  --invalid-input-field-border-color: #ff2323;
  --focused-input-field-border-color: #3939ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
}

.background {
  background-color: yellow;
  height: 100%;
  flex-grow: 3.5;
}

.main {
  background-color: bisque;
  height: 100%;
  flex-grow: 6.5;
}